<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.y2793623b.teams_players_info">
    //permis de "internet" :
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".info_activity"
            android:label="@string/title_activity_info_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Equipo_Inof"
            android:label="@string/title_activity_equipo__inof"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <provider
            android:name=".RottenTomatoesContentProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false" />
    </application>

</manifest>